.filter-container {
    .filter-heading {
        @media only screen and (max-device-width: 769px) {
            display: flex;
            justify-content: space-between;
        }

        .filter-title {
            border-bottom: 1px solid #ccc;
            height: 42px;
            line-height: 40px;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: large;
        
            @media only screen and (max-device-width: 769px) {
                padding-left: 20px;
                width: 90%;
            }
        }

        .close-btn {
            width: 50px;
            height: 50px;
            background: inherit;
            border: none;
        }
    }

    .filter-name {
        margin: 0 0 10px;
    }

    .filter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        margin-bottom: 25px;
    }
}