.filter-container {
    .filter-title {
        border-bottom: 1px solid #ccc;
        height: 42px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .filter-name {
        margin: 0 0 10px;
    }
}