.filter-container {
    .filter-title {
        border-bottom: 1px solid #ccc;
        height: 42px;
        line-height: 40px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: large;
    }

    .filter-name {
        margin: 0 0 10px;
    }

    .filter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        margin-bottom: 25px;
    }
}