.heading-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0 40px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;

    .logo {
        display: block;
        width: 150px;
        height: 50px;
        background-image: url('./online-shopping.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .categories {
        height: 100%;

        .category-link {
            text-decoration: none;
            color: #111;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 4px;
            height: 100%;
            transition: color 0.2s ease;
        }

        .category-link::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #000;
            transform: scaleX(0);
            transition: transform 0.2s ease-in-out;
        }

        .category-link:hover::after {
            transform: scaleX(1);
        }

        .category-link.active::after {
            transform: scaleX(1);
        }

        .category-link:hover {
            color: #000;
        }
    }
}