.color-wrapper {
    .color-options {    
        .colors-option {
            border: 2px solid #2c2b2b;
            background-color: #666;
            display: block;
            height: 26px;
            margin: 5px;
            overflow: hidden;
            padding: 0;
            width: 26px;
            cursor: pointer;
        }
    }
}


