.priceSlider-wrapper{
    .filter-name {
        display: block;
        text-align: center;
        margin-bottom: 25px;
        font-weight: 700;
        
    }

    .slider-wrapper {
        position: relative;

        input[type='range'] {
            height: 6px;
            border-radius: 10px;
        }
    }
}