.plp-container {
    padding: 15px;

    .plp-toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .product-sorting {
            cursor: pointer;
            padding: 3px;
        }
    }

    .plp-wrapper {
        margin-top: 15px;

        .filter {
            margin-top: 15px;
        }

        .product-list-wrapper {
            .product-list-heading {
                margin: 20px 0 20px 20px;

                .category-title {
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .product-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .product-item {
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    padding: 10px;
                    margin: 15px 10px;
                    text-align: center;
                    height: 450px;
                }
            }


            .load-more-btn {
                width: fit-content;
                margin: 35px auto;
            }
        }
    }
}